@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis';
}

.logo-container{
  margin: 0 auto;
}

.main-content{
  display: flex;
  height: 100vh;
}

.search-card{
  background-color: #e8e8e817;
}

.article{
  margin-bottom: 25px; 
}

.headline{
  font-size: 20px;
  text-decoration: underline;
}

.keywords{
  padding: 0;
}

.keywords > li{
  display: inline;
  list-style: none;
}

.articles{
  padding-left: 10px;
}

.articles > li{
  list-style: none;
}

.more-button{
  border-color: black;
}

.more-button:hover{
  border-color: black;
}